<launch>
  <arg name="ee_frame"/>

  <!-- Launch gripper endpoint setup -->
  <include file="$(find gripper_manager)/launch/robotiq_c_model_endpoint.launch">
    <arg name="ee_frame" value="$(arg ee_frame)"/>
  </include>

  <node name="simple_c_model_server"
    pkg="gripper_robotiq"
    type="c_model.py"/>

</launch>
