<launch>

  <arg name="ee_frame" default="/endpoint"/>

  <!-- When you run handeye calibration such as from https://github.com/jhu-lcsr/handeye_calib_camodocal/ update the values below: -->
   <node pkg="tf" type="static_transform_publisher" name="endpoint_to_marker" args="0.00803221, 0.0977083, 0.000807581, -0.706034, 0.00235403, -0.00999031, 0.708104 $(arg ee_frame) /endpoint_marker 10"/>

  <node pkg="tf" type="static_transform_publisher" name="gripper_center" args=" 0.19 -0.020 -0.010  0  0  0  1   $(arg ee_frame) /gripper_center 10"/> 

</launch>
