<launch>

  <arg name="model" default="iiwa14"/>

  <include file="$(find iiwa_description)/launch/$(arg model)_upload.launch"/>

  <!--<node pkg="tf" type="static_transform_publisher" name="world_to_base_link" args=" 0 0 0 0 0 0 /world /base_link 1000"/>-->
  <node pkg="tf" type="static_transform_publisher" name="kuka_to_base_link" args=" 0 0 0 0 0 0 1 /iiwa_link_0 /base_link 1000"/>
  <node pkg="tf" type="static_transform_publisher" name="ee_link_to_endpoint" args=" 0 0 0 0 0 0 1 /iiwa_link_ee /endpoint 1000"/>

  <node pkg="costar_robot_manager" name="simple_iiwa_driver_node" type="iiwa_driver.py" output="screen"/>
  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

</launch>
