<!--
SIMULATION LAUNCH FILE
Specifically, this brings up the peg simulation task.
Since this was used to test predicator during development, there are still separate launch files
in each of the modules that I will use to bring this up.
-->
<launch>

  <!-- core launch file -->
  <include file="$(find predicator_bringup)/launch/core.launch">

  <!-- touching, etc. -->
  <include file="$(find predicator_collision)/launch/pegs_interaction_predicates_test.launch">
    <arg name="output" value="log"/>
  </include>

  <!-- left, right, up, down, etc. -->
  <include file="$(find predicator_geometry)/launch/pegs_geometry_predicates_test.launch">
    <arg name="output" value="log"/>
  </include>

  <include file="$(find predicator_fake_classification)/launch/pegs_classification_predicates_test.launch">
    <arg name="output" value="log"/>
  </include>

  <include file="$(find predicator_movement)/launch/pegs_movement_predicates_test.launch">
    <arg name="output" value="log"/>
  </include>

</launch>
