<launch>
  <arg name="output" default="screen"/>

  <node name="predicator_reachable_node"
    type="predicator_reachable_node.py"
    pkg="predicator_reachable"
    output="$(arg output)">

    <param name="rate" value="1"/>

    <!-- what groups of frames are we interested in -->
    <rosparam param="groups">
      - location
    </rosparam>

  </node>
</launch>
