<launch>

  <arg name="gripper_ip_address" default="172.31.1.146"/>

  <include file="$(find costar_bringup)/launch/utilities.launch"/>

  <!-- Gripper stuff -->
  <node name="robotiq_s_model_interface" pkg="robotiq_s_model_control" type="SModelTcpNode.py" args="$(arg gripper_ip_address)"/>
  <node name="simple_s_model_server" pkg="simple_s_model_server" type="simple_server.py"/>

</launch>
