<launch>

  <arg name="gripper_ip_address" default="172.31.1.146"/>
  <arg name="sim" default="false"/>
  <arg name="start_sim" default="$(arg sim)"/>

  <arg name="start_camera" default="true"/>
  <arg name="start_move_group" default="true"/>
  <arg name="start_alvar" default="true" />

  <arg name="connect_gripper" default="true" description="(bool) start client to connect to S-model gripper"/>

  <arg name="table_frame" default="ar_marker_2"/>

  <!-- End and base of the arm. Don't change these. -->
  <arg name="ee_frame" value="iiwa_link_ee"/>
  <arg name="base_frame" value="iiwa_link_0"/>

  <include file="$(find costar_bringup)/launch/utilities.launch"/>
  <include file="$(find costar_bringup)/launch/predicator_nodes.launch"/>

  <include if="$(arg start_sim)" file="$(find iiwa_gazebo)/launch/iiwa_gazebo.launch">
    <param name="trajectory" value="false"/>
  </include>

  <!-- Bringup default configuration for the IIWA -->
  <include file="$(find costar_bringup)/launch/config/iiwa14.launch"/>

  <group if="$(arg sim)" ns="iiwa">
    <!-- process high level motion commands -->
    <include file="$(find costar_robot_manager)/launch/simple_iiwa_driver.launch"/>

    <!-- listen to joints and send them to simulation -->
    <node name="iiwa_simulation_publisher" type="iiwa_simulation_controller.py" pkg="costar_bringup" output="screen"/>

    <!-- motion planning --> 
    <include if="$(arg start_move_group)" file="$(find iiwa_moveit)/launch/move_group.launch">
      <param name="allow_trajectory_execution" value="true"/>
      <param name="fake_execution" value="true"/>
    </include>

    <!-- start gripper server anyway, just don't connect it -->
    <include file="$(find costar_gripper_manager)/launch/s_model.launch"/>
  </group>

  <!-- When not launching as a simulation, we do not need to namespace everything.-->
  <group unless="$(arg sim)">

    <!-- start a robot state publisher for use with GRL -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

    <!-- motion planning --> 
    <include if="$(arg start_move_group)" file="$(find iiwa_moveit)/launch/move_group.launch">
      <param name="allow_trajectory_execution" value="true"/>
      <param name="fake_execution" value="true"/>
    </include>

    <!-- process high level motion commands -->
    <include file="$(find costar_robot_manager)/launch/simple_iiwa_driver.launch"/>

    <!-- start up the camera -->
    <include if="$(arg start_camera)" file="$(find costar_bringup)/launch/camera.launch">
      <param name="start_alvar" value="$(arg start_alvar)"/>
      <param name="table_frame" value="$(arg table_frame)"/>
    </include>

    <!-- gripper bringup: connect to s model via TCP/IP -->
    <node if="$(arg connect_gripper)"
      name="robotiq_s_model_interface"
      pkg="robotiq_s_model_control"
      type="SModelTcpNode.py"
      args="$(arg gripper_ip_address)"/>

    <!-- Start S model-->
    <include file="$(find costar_gripper_manager)/launch/s_model.launch">
      <arg name="ee_frame" value="$(arg ee_frame)"/>
    </include>

  </group>
  <group if="$(arg sim)">


  </group>

</launch>
