<launch>
  <!--

  EXAMPLE MESSAGE TO SET TF FRAME

rostopic pub /interactive_transform_publisher/cmd/feedback visualization_msgs/InteractiveMarkerFeedback "heer: 
  seq: 841
  stamp: 
    secs: 1458232764
    nsecs: 886527201
  frame_id: iiwa_link_ee
client_id: /rviz_1458179731700369781/
marker_name: cmd
control_name: ''
event_type: 5
pose: 
  position: 
    x: -0.0263867080212
    y: 0.126598313451
    z: 0.461445629597
  orientation: 
    x: 0.0
    y: 0.0
    z: 0.0
    w: 1.0
menu_entry_id: 0
mouse_point: 
  x: -0.0185748934746
  y: 0.153035715222
  z: 0.458688616753
mouse_point_valid: True
"
  -->
  <node pkg="lcsr_tf_tools" type="interactive_transform_publisher" name="teach_endpoint" args="0 0 0 0 0 0 1 iiwa_link_ee cmd 100" output="screen"/>

</launch>
