<launch>

  <arg name="output" default="screen"/>
  <arg name="publish_values" default="0"/>

  <!-- detected objects node -->
  <node pkg="predicator_detected_objects" name="predicator_detected_objects_node" type="detected_objects_node.py">
    <remap from="/detected_object_list" to="/SPServer/detected_object_list"/>
  </node>

  <!-- geometry node -->
  <node name="predicator_geometry_node"
    type="predicator_geometry_node.py"
    pkg="predicator_geometry"
    output="$(arg output)">

    <param name="height_threshold" value="0.01"/>
    <param name="rel_x_threshold" value="0.01"/>
    <param name="rel_y_threshold" value="0.01"/>
    <param name="rel_z_threshold" value="0.01"/>
    <param name="near_2D_threshold" value="0.2"/>
    <param name="near_3D_threshold" value="0.25"/>
    <param name="publish_values" value="$(arg publish_values)"/>

    <rosparam param="frames">
      - obj_link_uniform_1
      - obj_link_uniform_2
      - obj_link_uniform_3
      - obj_link_uniform_4
      - obj_node_uniform_1
      - obj_node_uniform_2
      - obj_node_uniform_3
      - obj_node_uniform_4
      - obj_sander_makita_1
      - obj_sander_makita_2
      - gbeam_link_1/gbeam_link
      - gbeam_node_1/gbeam_node
      - gbeam_node_2/gbeam_node
      - ar_marker_0
      - ar_marker_1
      - ar_marker_3
      - world
    </rosparam>

    <rosparam param="reference_frames">
      - world
    </rosparam>

  </node>

  <node pkg="predicator_landmark" name="predicator_landmark_service" type="get_waypoints_service.py"/>

  <node name="predicator_fake_class_node"
    type="fake_classes.py"
    pkg="predicator_fake_classification"
    output="$(arg output)">

    <rosparam param="class_info">
      - name: obj_class
        members:
          - drill
          - sander
          - sander_makita
          - link_uniform
          - node_uniform
          - node
          - link
    </rosparam>

  </node>
</launch>
