<launch>

  <arg name="ee_frame" default="/endpoint"/>

  <!-- <node pkg="tf" type="static_transform_publisher" name="endpoint_to_align0" args=" 0.05 0 0 0 1.5707 0  $(arg ee_frame) /endpoint_align0 10"/> -->
  <!-- <node pkg="tf" type="static_transform_publisher" name="endpoint_to_align" args=" 0 0 0 1.5707 0 0  /endpoint_align0 /endpoint_align 10"/> -->
  <!-- <node pkg="tf" type="static_transform_publisher" name="endpoint_to_marker" args=" 0.022 -0.005 0.093 3.14159 -1.5707 0  /endpoint_align /endpoint_marker 10"/> -->
  <node pkg="tf" type="static_transform_publisher" name="endpoint_to_marker" args=" -0.0131988 0.105739 -0.0014977   0.5185036784680901 0.48774393169896957 0.5170872794689441 -0.47968152813365683  $(arg ee_frame) /endpoint_marker 10"/>

</launch>
