<launch>

  <arg name="ee_frame" default="/iiwa_link_ee"/>


  <!--<param name="s_model_description" command="cat $(find robotiq_s_model_visualization)/cfg/s-model_articulated.urdf"/>-->

  <!-- top of silver to gripper connector: 71; top of silver to gripper base: 101; on the old robot: top to end of flange: 41 -->
  <!--<node pkg="tf" type="static_transform_publisher" name="ee_to_gripper_frame" args="0.035 -0.016 0.02 0.05 1.57079632679 0.05 $(arg ee_frame) /s_model_frame 1000"/>-->
  <!--<node pkg="tf" type="static_transform_publisher" name="ee_to_gripper_frame" args="0.035 -0.016 0.02 0.0 1.64079632679 0 $(arg ee_frame) /s_model_frame 1000"/>-->
  <node pkg="tf" type="static_transform_publisher" name="ee_to_ee_align" args="0 0 0 0 1.5707 0 $(arg ee_frame) /ee_align 1000"/>

  <!--<node pkg="tf" type="static_transform_publisher" name="gripper_align_to_gripper_base" args=".0 0 0 0 1.5707 0 /s_model_align /s_model_base 1000"/>-->
  <node pkg="tf" type="static_transform_publisher" name="gripper_base_to_palm_align" args="0 0 .05 .261 0 0 /s_model_base /s_model_palm_align 1000"/>
  <node pkg="tf" type="static_transform_publisher" name="palm_align_to_palm" args="0 0 0 1.57079632679 0 1.57079632679 /s_model_palm_align /s_model/palm 1000"/>
  <!--<node pkg="tf" type="static_transform_publisher" name="base_to_endpoint" args="0.20725 0 0 0 0 0 /s_model_base /endpoint 1000"/>-->
  <!--<node pkg="tf" type="static_transform_publisher" name="base_to_endpoint_pinch" args="0 0 0.20725 0 0 0 /s_model_base /endpoint_pinch 1000"/>-->

  <!--
    From attachment point to tag center:
      -0.0744 0.030 0.4650

    Rotation:
      10.85 degrees around x = 0.18936822
      -69.96 degrees around y = -1.22103234
      +86 degrees around z = 1.50098
  -->
  <!--<node pkg="tf" type="static_transform_publisher" name="base_to_endpoint_marker_attachment" args="-0.0744 0.030 0.04650 0.18936822 -1.22103234 1.50098 /s_model_base /endpoint_marker_attachment 1000"/>-->

  <!-- includes -15 degree rotation from end of robot to Robotiq 3-finger -->
  <!--<node pkg="tf" type="static_transform_publisher" name="ee_to_endpoint_marker_attachment" args="0 0 .15 -1.8324 0 0 /ee_align /endpoint_marker 1000"/>-->

  <!-- marker reverse engineered from Kel's guesswork -->
  <!--<node pkg="tf" type="static_transform_publisher" name="ee_to_endpoint_marker" args="0.103 -0.071 0.022 0.575 0.157 0.081 0.799 /iiwa_link_ee /endpoint_marker 1000"/>-->

  <!-- marker position determined by CamOdoCal -->
    <!--<node pkg="tf" type="static_transform_publisher" name="ee_to_endpoint_marker" args="0.100466 -0.0749848 0.0199956 0.5782515618009793 0.14597756788320312 0.09221622196677907 0.7973781094034416 /iiwa_link_ee /endpoint_marker 1000"/>-->
  <node pkg="tf" type="static_transform_publisher" name="ee_to_endpoint_marker" args="0.100466 -0.0749848 0.0449956 0.5782515618009793 0.14597756788320312 0.09221622196677907 0.7973781094034416 $(arg ee_frame) /endpoint_marker 1000"/>
  <!--<node pkg="tf" type="static_transform_publisher" name="ee_to_endpoint_marker" args="-.087281 -0.0365086  0.0344443 0.814691 0.545055 0.178562 0.545055 /iiwa_link_ee /endpoint_marker 1000"/>-->


</launch>
