<launch>

  <arg name="sim" default="false"/>

  <group unless="$(arg sim)">

    <!-- gripper bringup: connect to s model via TCP/IP -->
    <node name="robotiq_s_model_interface" pkg="robotiq_s_model_control" type="SModelTcpNode.py" args="$(arg gripper_ip_address)"/>
    <include file="$(find costar_bringup)/launch/robotiq_s_model_endpoint.launch">
      <param name="ee_frame" value="$(arg ee_frame)"/>
    </include>
    <node name="simple_s_model_server" pkg="gripper_robotiq" type="s_model.py"/>
    <include file="$(find gripper_robotiq)/launch/s_model.launch"/>

  </group>
  <group if="$(arg sim)">

    <!-- start gripper server anyway, just don't connect it -->
    <node name="simple_s_model_server" pkg="gripper_robotiq" type="s_model.py"/>
    <include file="$(find gripper_robotiq)/launch/s_model.launch"/>

  </group>
</launch>
