<launch>
    <!-- Librarian -->
    <node pkg="librarian_core" type="core.py" name="librarian_core"/>

    <!-- Predicator -->
    <include file="$(find predicator_bringup)/launch/core.launch"></include>
   
    <!-- Moveit Environment -->
    <!--<arg name ="tableTFname" default="ar_marker_0" />
    <include file="$(find moveit_collision_environment)/launch/collision_env.launch">
    	<arg name="tableTFname" value ="$(arg tableTFname)"/>
    </include>-->

    <node pkg="point_cloud_recorder" type="point_cloud_recorder.py" name="point_cloud_recorder_service">
      <param name="id" value="costar"/>
    </node>

    <!--
    publish new tf frames for any detected objects!
    these should be alternate goals that we may need to deal with
    -->
    <!--<node pkg="object_symmetry_republisher" type="symmetry_republisher.py" name="object_symmetry_republisher_node">
      <remap from="/detected_object_list" to="SPServer/detected_object_list"/>
    </node>-->
</launch>
