<launch>
  <arg name="use_scene_parsing_pose" />
  <arg name="use_external_segmenter" />

  <!-- Smartmove params -->
  <group ns="costar">
    <group ns="robot">
      <rosparam param="home">[0.30, -1.33, -1.80, -0.27, 1.50, 1.60]</rosparam>
      <rosparam param="dof">6</rosparam>
      <rosparam param="base_link">base_link</rosparam>
      <rosparam param="end_link">ee_link</rosparam>
      <rosparam param="planning_group">manipulator</rosparam>
      <rosparam param="joint_weights">[1.0, 1.0, 1.0, 1.0, 1.0, 1.0]</rosparam>
      <rosparam param="translation_weight">1.0</rosparam>
      <rosparam param="rotation_weight">1.0</rosparam>
      <rosparam param="has_planning_scene">true</rosparam>
      <rosparam param="has_gripper">true</rosparam>
      <rosparam param="table_frame">table_center</rosparam>

    </group>
    <group ns="smartmove">
      <rosparam param="available_objects">
        - sander_makita
        - node_uniform
        - link_uniform
        - drill
        - table
        - wood_cube
      </rosparam>
      <rosparam param="regions">
        - in_back_of
        - in_front_of
        - right_of
        - left_of
        - up_from
        - down_from
      </rosparam>
      <rosparam param="N_stack">4</rosparam>
      <!-- Unused reference
          - ar_marker_0
          - ar_marker_1
          - ar_marker_2
          - ar_marker_3
          - table_frame
      -->
      <rosparam param="references">
        - world
        - table_center
      </rosparam>

      <group if="$(arg use_scene_parsing_pose)">
        <rosparam param="scene_parsing_pose">true</rosparam>
      </group>
      <group unless="$(arg use_scene_parsing_pose)">
        <rosparam param="scene_parsing_pose">false</rosparam>
      </group>

      <group if="$(arg use_external_segmenter)">
        <rosparam param="sp_segmenter_namespace">/costar_sp_segmenter</rosparam>
      </group>
      <group unless="$(arg use_external_segmenter)">
        <rosparam param="sp_segmenter_namespace">/costar_perception</rosparam>
      </group>
      
      <rosparam param="scene_parsing_namespace">/sequential_scene_parsing</rosparam>
    </group>
  </group>
</launch>

