<?xml version="1.0"?>
<robot name="$(arg robot_name)" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Import Rviz colors -->
  <xacro:include filename="$(find iiwa_description)/urdf/materials.xacro" />
  <!--Import the lbr iiwa macro -->
  <xacro:include filename="$(find iiwa_description)/urdf/iiwa14.xacro"/>

  <!--<xacro:include filename="$(find robotiq_s_model_visualization)/cfg/s-model_mesh.urdf"/>-->
  <!--<xacro:include filename="$(find robotiq_s_model_visualization)/cfg/s-model_articulated_macro.xacro" />-->
  <xacro:include filename="$(find robotiq_s_model_visualization)/cfg/s-model_mesh_macro.xacro" />
  <xacro:s-model_mesh prefix="$(arg robot_name)_s_model_"/>

  <!-- Fix to world just for testing -->
  <link name="world"/>

  <!--iiwa-->
  <!-- PositionJointInterface -->
  <xacro:iiwa14 hardware_interface="$(arg hardware_interface)" robot_name="$(arg robot_name)" parent="world">
    <origin xyz="0 0 0.0" rpy="0 0 0" />
  </xacro:iiwa14>

  <joint name="$(arg robot_name)_link_ee_to_connector"  type="fixed">
    <parent link="$(arg robot_name)_link_ee_kuka"/>
    <child link="$(arg robot_name)_s_model_connector"/>
    <origin xyz="0 0 0.02" rpy="0 0 0"/>
  </joint>

  <link name="$(arg robot_name)_s_model_connector">
    <origin xyz="0 0 0.1" rpy="0 0 0.2618"/>
    <visual>
      <geometry>
        <cylinder length="0.06" radius="0.04"/>
      </geometry>
      <material name="blue">
        <color rgba="0 0 .8 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.06" radius="0.04"/>
      </geometry>
    </collision>
  </link>

  <xacro:if value="false">
    <joint name="$(arg robot_name)_connector_to_palm"  type="fixed">
      <parent link="$(arg robot_name)_s_model_connector"/>
      <child link="$(arg robot_name)_s_model_palm"/>
      <origin xyz="0 0 0.08" rpy="1.5707 0 0"/>
    </joint>
  </xacro:if>
  <xacro:unless value="false">
    <joint name="$(arg robot_name)_connector_to_palm"  type="fixed">
      <parent link="$(arg robot_name)_s_model_connector"/>
      <child link="$(arg robot_name)_s_model_palm"/>
      <origin xyz="0 0 0.18" rpy="0 0 ${3.14159+0.2618}"/>
    </joint>
  </xacro:unless>

</robot>
