<launch>

    <arg name="namespace" default="volume_1" />
    <arg name="camera_name" default="camera_2" />

    <group ns="$(arg namespace)">
        <node pkg="predicator_occupancy_module" 
              type="detect_volume.py" 
              name="detect_volume"  
              args="-c $(arg camera_name) -n $(arg namespace)"/>
    </group>

</launch>
