<launch>
  <arg name="output" default="screen"/>

  <node name="predicator_wam_joint_states_node"
    type="predicator_joints_node.py"
    pkg="predicator_joint_states"
    output="$(arg output)">

    <rosparam param="js_config">
      topic: /gazebo/barrett_manager/hand/joint_states
      id: wam
      thresholds: 0.0009
      idx: 1
    </rosparam>

  </node>

  <node name="predicator_wam2_joint_states_node"
    type="predicator_joints_node.py"
    pkg="predicator_joint_states"
    output="$(arg output)">

    <rosparam param="js_config">
      topic: /gazebo/w2barrett_manager/hand/joint_states
      id: wam2
      thresholds: 0.0009
      idx: 1
    </rosparam>

  </node>

</launch>
