<launch>
  <!-- Objects file Name and save directory-->
  <arg name="object"                  default="cloud_cluster" doc="The name of the point cloud"/>
  <arg name="save_directory"          default="$(find object_on_table_segmenter)/result/$(arg object)" />
  <arg name="ground_truth_directory"  default="$(arg save_directory)/ground_truth" />
  <arg name="original_directory"      default="$(arg save_directory)/original" />
  <arg name="pcl_in"                  default="/camera/depth_registered/points" />
  <arg name="save_index"	            default="0" doc="Starting index for point cloud"/>
  <arg name="environment_only"	      default="false" doc="Will just save everything in the point cloud without doing any object point cloud segmentation"/>
  <arg name="time_step"               default="0.5"/>
  <arg name="num_to_capture"          default="200"/>
  <arg name="do_cluster"              default="true"  doc="Do clusterization of point cloud after segmenting the objects above table. Set this to false if the number of object above the table is just 1." />
  <arg name="auto_capture"             default="true" />

  <!-- Plane segmentation arguments-->
  <include file="$(find object_on_table_segmenter)/launch/table_seg_params.launch">
    <arg name="namespace"                default="object_on_table_segmenter" />
    <arg name="load_table"               default="false"/>
    <arg name="update_table"             default="true" />
    <arg name="load_table_path"          default="$(find object_on_table_segmenter)/data/table.pcd" />
    <arg name="table_tf"                 default="ar_marker_0" />
    <arg name="use_tf_surface"           default="false" />
    <arg name="table_distance_threshold" default="0.02" />
    <arg name="table_angular_threshold"  default="2" />
    <arg name="table_minimal_inliers"    default="7500" />
    <arg name="use_rosbag"               default="false" />
    <arg name="above_table_min"          default="0.02" />
    <arg name="above_table_max"          default="0.5" />
    <arg name="plane_seg_viewer"         default="false" />
  </include>

  <node pkg="object_on_table_segmenter" type="object_on_table_segmenter" name="object_on_table_segmenter" output="screen">  
  <!-- object_on_table_segmenter arg pass -->
    <param name="save_directory"             type="str"    value="$(arg save_directory)/" />
    <param name="original_directory"         type="str"    value="$(arg original_directory)/" />
    <param name="ground_truth_directory"     type="str"    value="$(arg ground_truth_directory)/" />
    <param name="object"                     type="str"    value="$(arg object)" />
    <param name="POINTS_IN"                  type="str"    value="$(arg pcl_in)" />
    <param name="save_index"                 type="int"    value="$(arg save_index)" />

    <param name="environment_only"           type="bool"   value="$(arg environment_only)" />

    <param name="run_auto"                   type="bool"   value="$(arg auto_capture)" />
    <param name="time_step"                  type="double" value="$(arg time_step)" />
    <param name="num_to_capture"             type="int"    value="$(arg num_to_capture)"/>
    <param name="do_cluster"                 type="bool"   value="$(arg do_cluster)" />

  </node>

</launch>
