<launch>
  <!-- Scene topic arguments-->
  <arg name="folder_location"		     default="$(find sequential_scene_parsing)/mesh/pcd/real_data" />
  <arg name="pcd_path"               default="1.pcd" />
  <arg name="pcl_topic_name"         default="/camera/depth_registered/points" />
  <arg name="pcl_header_frame"       default="/camera_link" />

  <node pkg="sequential_scene_parsing" type="load_and_pub_pcd" name="load_and_pub_pcd" >  
    <!-- sequential_scene_ros common Node arg pass -->
    <param name="pcd_path"           type="str"     value="$(arg folder_location)/$(arg pcd_path)" />
    <param name="pcl_topic_name"     type="str"     value="$(arg pcl_topic_name)"/>
    <param name="pcl_header_frame"   type="str"     value="$(arg pcl_header_frame)"/>
  </node>

  <node pkg="tf" type="static_transform_publisher" name="camera_tf_pub" args="0 0 0 0 0 0 /world /camera_link 300" />
</launch>
