<launch>
  <!-- Scene topic arguments-->
  <arg name="background_pcl2_topic"          default="/SPServer/table_corner" />
  <arg name="object_folder_location"         default="$(find sequential_scene_parsing)/mesh" />
  <arg name="detected_object_topic"          default="/SPServer/detected_object_list"/>
  <arg name="background_normal_as_gravity"   default="true"/>
  <arg name="background_mode"                default="0"/>
  <arg name="TF_z_inv_gravity_dir"           default="/ar_marker_3"/>
  <arg name="tf_publisher_initial"           default="scene"/>
  <arg name="debug"                          default="true"/>
  <arg name="load_table"                     default="false"/>
  <arg name="table_location"                 default="$(find sp_segmenter)/data/table.pcd"/>

  <node pkg="sequential_scene_parsing" type="sequential_scene_ros" name="sequential_scene_ros" >  
    <!-- sequential_scene_ros common Node arg pass -->
    <param name="background_pcl2_topic"   type="str"     value="$(arg background_pcl2_topic)" />
    <param name="object_folder_location"  type="str"     value="$(arg object_folder_location)"/>
    <param name="detected_object_topic"   type="str"     value="$(arg detected_object_topic)"/>
    <param name="TF_z_inv_gravity_dir"    type="str"     value="$(arg TF_z_inv_gravity_dir)"/>
    <param name="tf_publisher_initial"    type="str"     value="$(arg tf_publisher_initial)"/>

    <param name="debug_mode"              type="bool"    value="$(arg debug)"/>
    <param name="load_table"              type="bool"    value="$(arg load_table)"/>
    <param name="background_mode"         type="int"     value="$(arg background_mode)"/>
    <param name="table_location"          type="str"     value="$(arg table_location)"/>
    <param name="bg_normal_as_gravity"    type="bool"    value="$(arg background_normal_as_gravity)"/>

    <!-- objectDatabase -->
    <rosparam command="load" file="$(find sequential_scene_parsing)/mesh/object_property_database.yaml" />
    
  </node>
</launch>
