<launch>
  <!-- This is the default program SPServer.launch, uses drill SVM and UR5 this is the default server. Stable launch file, should change less often than the largely similar but unstable SPServerNode.launch -->

  <!-- Object file Name without extension-->
  <arg name="object"         default="drill" doc="object mesh name. Pay attention to the object order if using multiple objects by following the order of object in the svm_path folder name" />
  <arg name="data_path"      default="$(find sp_segmenter)/data" doc="SP segmenter data folder" />
  <arg name="svm_path"       default="UR5_drill_svm" doc="Object svm folder name located in data path" />

  <!-- Segmentation Parameters parameters-->
  <arg name="params"         default="" />
  <arg name="pairWidth"      default="0.05" />
  <arg name="bestPoseOnly"   default="false" doc="Get best pose only or all pose above minConfidence" />
  <arg name="minConfidence"  default="0.18" doc="(float) confidence threshold for recognizing objects with ObjRecRANSAC" />
  <arg name="use_cuda"       default="true" doc="Use NVidia CUDA GPU acceleration to speed up pose estimation. When true and CUDA not available, prints warnings then runs without cuda "/>

  <arg name="useTableSegmentation" default="true" doc="use marker-based table segmentation at all or just handle raw point clouds. True is strongly recommended."/>
  <arg name="aboveTable"     default="0.01" doc="The minimum point cloud distance from segmented table. Increase the value if some parts of table point cloud still remains after segmentation" />
  <arg name="tableTF"        default="camera/ar_marker_0" doc="Any TF frame located in the table can be used for table segmentation" />
  <arg name="saveTabledir"   default="$(find sp_segmenter)/data" doc="Save/Load folder for segmenting table" />
  <arg name="loadTable"      default="true" doc="load the table corner position from table.pcd in data folder. If not available or set false, spServer will get segment new table corner position around tableTF"/>
  <arg name="saveTable"      default="true" doc="Save new table corner positions in data folder if the table is not loaded/available."/>

  <arg name="setObjectOrientation" default="true" doc="use specified TF as Object preferred orientation" />
  <arg name="preferredOrientation" default="world" doc="use this TF as the preferred object orientation" />

  <arg name="gripperTF"      default="endpoint_marker" doc="The gripper tf where target object would be attached" />

  <arg name="NodeName"       default="SPServer" doc="The name of the ros topic" />

  <arg name="useTF"          default="true" doc="Whether use TF frames instead of pose array for object pose representation" />
  <arg name="output"         default="screen" doc="Print to screen"/>

  <!-- SPSegmenterNode subscriber/publisher args -->
  <arg name="pcl_in"         default="/camera/depth_registered/points" />
  <arg name="pcl_out"        default="points_out"/>
  <arg name="poses_out"      default="poses_out"/>

  <node pkg="sp_segmenter" type="SPSegmenterServer" name="$(arg NodeName)" args="-p $(arg params)" output="$(arg output)" >  
    <!-- SPSegmenterNode Node arg pass -->
    <param name="cur_name"   type="str" value="$(arg object)" />
    <param name="bestPoseOnly" type="bool" value="$(arg bestPoseOnly)" />
    <param name="minConfidence"  type="double" value="$(arg minConfidence)"/>
    <param name="aboveTable"     type="double" value="$(arg aboveTable)"/>
    <param name="useTableSegmentation" type="bool" value="$(arg useTableSegmentation)"/>
    
    <param name="tableTF"        type="str" value="$(arg tableTF)"/>
    <param name="saveTable_directory"   type="str" value="$(arg saveTabledir)" />
    <param name="saveTable"   type="bool" value="$(arg saveTable)" />
    <param name="loadTable"   type="bool" value="$(arg loadTable)" />
    
    <param name="GripperTF"  type="str" value="$(arg gripperTF)"/>
    
    <param name="setObjectOrientation"   type="bool" value="$(arg setObjectOrientation)" />
    <param name="preferredOrientation" type="str" value="$(arg preferredOrientation)" />

    <!-- SPSegmenterNode subscriber/publisher args pass -->
    <param name="POINTS_IN"  type="str" value="$(arg pcl_in)"/>
    <param name="POINTS_OUT" type="str" value="$(arg pcl_out)"/>
    <param name="POSES_OUT"  type="str" value="$(arg poses_out)"/>
    <param name="pairWidth"  type="double" value="$(arg pairWidth)"/>
    <param name="use_cuda"   type="bool"   value="$(arg use_cuda)"/>
    <param name="svm_path"   type="str" value="$(arg data_path)/$(arg svm_path)/" />
    <param name="useTF"      type="bool" value="$(arg useTF)" />
    
    <!-- objectDatabase -->
    <rosparam command="load" file="$(find sp_segmenter)/launch/objectDatabase.yaml" />
  </node>

  <group ns="$(arg NodeName)">
    <include file="$(find sp_segmenter)/launch/parameters.launch">
        <arg name="data_path" value ="$(arg data_path)"/>
    </include>
  </group>
</launch>
