<launch>
  <!-- Object file Name without extension-->
  <arg name="object"         default="drill" />
  <arg name="data_path"      default="$(find sp_segmenter)/data" />
  <arg name="svm_path"       default="UR5_drill_svm" />
  <arg name="params"         default="" />
  <arg name="pairWidth"      default="0.05" />
  <arg name="NodeName"       default="$(anon SPSegmenterNode)" />

  <!-- SPSegmenterNode subscriber/publisher args -->
  <arg name="pcl_in"         default="/camera/depth_registered/points" />
  <arg name="pcl_out"        default="points_out"/>
  <arg name="poses_out"      default="poses_out"/>

  <node pkg="sp_segmenter" type="SPSegmenterNode" name="$(arg NodeName)" args="-p $(arg params)">  
    <!-- SPSegmenterNode Node arg pass -->
    <param name="cur_name"   type="str" value="$(arg object)" />

    <!-- SPSegmenterNode subscriber/publisher args pass -->
    <param name="POINTS_IN"  type="str" value="$(arg pcl_in)"/>
    <param name="POINTS_OUT" type="str" value="$(arg pcl_out)"/>
    <param name="POSES_OUT"  type="str" value="$(arg poses_out)"/>
    <param name="pairWidth"  type="double" value="$(arg pairWidth)"/>
    <param name="svm_path"   type="str" value="$(arg data_path)/$(arg svm_path)/" />
  </node>

  <group ns="$(arg NodeName)">
    <include file="$(find sp_segmenter)/launch/parameters.launch">
        <arg name="data_path" value ="$(arg data_path)"/>
    </include>
  </group>
</launch>
