<launch>
  <arg name="output" default="screen"/>

  <node name="predicator_movement_node"
    type="predicator_movement.py"
    pkg="predicator_movement"
    output="$(arg output)">

    <param name="translation_velocity_threshold" value="0.01"/>
    <param name="rotation_velocity_threshold" value="0.01"/>
    <param name="distance_change_threshold" value="0.01"/>
    <param name="alpha" value="0.50"/>

    <rosparam param="frames">
      - ring1/ring_link
      - peg1/peg_link
      - peg1/base_link
      - peg2/peg_link
      - peg2/base_link
      - wam/shoulder_yaw_link
      - wam/shoulder_pitch_link
      - wam/upper_arm_link
      - wam/forearm_link
      - wam/wrist_yaw_link
      - wam/wrist_pitch_link
      - wam/wrist_palm_link
      - wam/base_link
      - wam2/shoulder_yaw_link
      - wam2/shoulder_pitch_link
      - wam2/upper_arm_link
      - wam2/forearm_link
      - wam2/wrist_yaw_link
      - wam2/wrist_pitch_link
      - wam2/wrist_palm_link
      - wam2/base_link
      - stage_link
    </rosparam>

  </node>

</launch>
