<launch>

    <!-- CORE -->
    <node pkg="instructor_core" type="instructor_view.py" name="instructor_view">
      <remap from="/detected_object_list" to="/SPServer/detected_object_list"/>
      <param name="case" value=""/>
    </node>

    <node pkg="instructor_core" type="instructor_waypoint_manager.py" name="instructor_waypoint_manager"/>
    <param name="publish_frequency" type="double" value="10.0" />

</launch>

