<launch>

  <!--These are different user study conditions-->
  <!--<arg name="instructor_cases" default="baseline,perception,smartmove" />-->
  <arg name="instructor_cases" default=""/>

  <!-- CORE -->
  <node pkg="instructor_core" type="instructor_view.py" name="instructor_view" >
    <remap from="/detected_object_list" to="/costar/detected_object_list"/>
    <param name="cases" value="$(arg instructor_cases)"/>
  </node>

  <node pkg="instructor_core" type="instructor_waypoint_manager.py" name="instructor_waypoint_manager"/>
  <param name="publish_frequency" type="double" value="10.0" />

</launch>

