<launch>
    <!-- CORE -->
    <node pkg="instructor_core" type="instructor_view.py" name="instructor_view"/>
    <!-- <node pkg="instructor_core" type="instructor_waypoint_manager.py" name="instructor_waypoint_manager"/> -->
    <!-- <param name="publish_frequency" type="double" value="10.0" /> -->
    <!-- Instructor -->
    <!-- <node pkg="librarian_core" type="core.py" name="librarian_core"/> -->
    <!-- Plugins -->
    <!-- <node pkg="instructor_plugins" type="test_service.py" name="instructor_test_service_node"/> -->
</launch>

