<launch>
	<arg name="marker_size" default="7" />
	<arg name="max_new_marker_error" default="0.08" />
	<arg name="max_track_error" default="0.0" />

    <arg name="cam_image_topic" default="/camera/depth_registered/points" />
	<arg name="cam_info_topic" default="/camera/rgb/camera_info" />	

	<arg name="output_frame" default="/camera_rgb_optical_frame" />
    <arg name="med_filt_size" default="10" />
	<arg name="bundle_files" default="$(find alvar_data_collection)/bundles/lcsr_cal_panel.xml" />

	<node name="ar_track_alvar" pkg="ar_track_alvar" type="findMarkerBundles" respawn="false" output="screen" args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic) $(arg cam_info_topic) $(arg output_frame) $(arg med_filt_size) $(arg bundle_files)" />
</launch>
